{% extends 'base/base.html' %}

{% block title %}Email Details{% endblock %}

{% load static %}

{% block main_content %}

<!-- Email details -->
<div class="email-view">
    <div class="email-header">
        <h2>{{ email.subject }}</h2>
        <p><strong>From:</strong> {{ email.sender_email }}</p>
        <p><strong>To:</strong> {{ email.receiver_email }}</p>
        <p><strong>Date:</strong> {{ email.send_date }}</p>
    </div>
    <div class="email-body">
        <p>{{ email.body }}</p>
    </div>
    <div class="email-actions">
        <form action="{% url 'home:send_email_to' email.sender_email %}" method="get" style="display:inline;">
            <button type="submit">Reply</button>
        </form>
        
        <form action="{% url 'home:set_unread' email.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Mark as Unread</button>
        </form>

        <form action="{% url 'home:set_phishing' email.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Mark as Phishing</button>
        </form>
        <form action="{% url 'home:delete_email' email.id %}"
                onsubmit="return confirm('Delete this email?')" 
                method="post" 
                style="display:inline; margin-left: auto;">
            {% csrf_token %}
            <button type="submit" style="background-color: red; color: white;">Delete</button>
        </form>
    </div>
</div>

{% endblock %}