{% extends 'base/base.html' %}

{% block title %}Send Email{% endblock %}

{% load static %}

{% block main_content %}
<div class="compose">
    <h2>New Message</h2>
    <form action="{% url 'home:send_email' %}" method="post">
        {% csrf_token %}
        <div>From:</div>
        <input type="email" name="sender_email" value="{{ request.user.email }}" required readonly>
        <div>To:</div>
        <input type="email" name="receiver_email" placeholder="To" value="{{ receiver_email }}" required>
        <div>Subject:</div>
        <input type="text" name="subject" placeholder="Subject" required>
        <div>Message:</div>
        <textarea name="body" placeholder="Message" rows="20" required></textarea>
        <div class="form-actions">
            <button type="submit">Send</button>
        </div>
    </form>
</div>
{% endblock %}