:root
{
    --bg-color: rgb(248,250,253);
    --text-color: rgba(13, 13, 13, 0.9);
    --accent-color: lightgreen;
    --hover-color: rgb(101, 186, 101);
    --hover-color-light: rgba(144, 238, 144, 0.3);
    --unread-bg-color: rgba(144, 238, 144, 0.2);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 5px;
    text-decoration: none;
    color: var(--text-color);
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

a:hover .afterhover
{
    display: block;
}

a .afterhover
{
    display: none;
    width: 100%;
    height: 100%;
    color: transparent;
    border-bottom: 3px solid var(--bg-color);
    position: absolute;
    top: 0;
}

nav
{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    width: 100%;
    height: 50px;
    background-color: var(--accent-color);
}

.auth
{
    /* margin-left: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 10%;
}

.auth a
{
    width: 100%;
}

.auth form button
{
    width: 100%;
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

/* page-level handy defaults (optional) */
html,body{
  height:100%;
  margin:0;
  background-color: var(--bg-color);
  color: var(--text-color);
}